<div class="about-container-main">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a ng-click="about.goHome()" class="navbar-brand" href="#">lyric<div id="box-logo">box</div></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-click="home.goToAbout()" href="#">About</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div class="about-content-container">
    <div id="imageAboutCon">
      <img class="aboutpic" ng-src="{{ about.image }}" alt="egan">

      <div class="contact-info">
        <p class="aboutMe"> <strong>THE PROJECT</strong> <br> {{ about.about }}</p>
        <ul style="padding-left: 50px; list-style: none;">
          <p style="margin: 0px;"><strong>CONTACT INFROMATION</strong></p>
          <li ng-repeat="contact in about.contact">{{ contact }}</li>
        </ul>
      </div>
    </div>
  </div>

</div>
