<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="home-container">
  <h1 class="home-header">Music</h1>
  <p class="home-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <div class="home-button-container">
    <a class="home-content-links join" ng-click="jointoggle = !jointoggle">Join</a>
    <a class="home-content-links host" ng-click="hosttoggle = !hosttoggle">Host</a>
  </div>

  <form class="join-host-show">
    <input ng-model="home.codeToJoin" class="hidden-input" ng-show="jointoggle" type="text" placeholder="Enter code" autofocus>
    <button ng-click="home.join()" type="button" class="btn btn-primary" ng-show="jointoggle">Join</button>

    <input ng-model="home.createdCode" class="hidden-input create-code" ng-show="hosttoggle" type="text" placeholder="Create code" autofocus>
    <button ng-click="home.host()" type="button" class="btn btn-success" ng-show="hosttoggle">Create</button>
  </form>

  <h1>{{ home.error }}</h1>
</div>


  <!-- Small modal -->
<!--   <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button> -->

<!--   <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Enter Code</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" placeholder="Enter code...">
        <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Go!</button>
      </div>
      </div>
    </div>
  </div> -->
