
<div class="setup-container">
  <form class="search-form">
    <input class="search-input" autofocus="autofocus" type="search" ng-model="setup.artist" placeholder="Search artist">
    <input class="search-song search-input" type="search" ng-model="setup.track" placeholder="Search song">
    <button class="submit-button" type="submit" ng-click="setup.getTrack()"><i class="fa fa-search fa-2x" aria-hidden="true"></i></button>
  </form>
</div>

<div class="search-list">
  <div class="songs" ng-repeat="song in setup.data" ng-click="setup.select(song)">
   <img class="albumcover" ng-src="{{song.track.album_coverart_100x100}}" alt="albumcover">
   <div class="song-artist">
     <strong><p class="song-title">{{ song.track.track_name }}</p></strong>
     <p class="artist">{{ song.track.artist_name }}</p>
   </div>
  </div>
</div>

<div class="done-button">
  <a class="done-link" ng-click="setup.done()">Done</a>
</div>
