body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*
***************
//////HOST/////
****************/
.host-view .container {
  display: flex;
  flex-direction: column;
}
.host-view ..current {

}
.host-view .next {

}
.host-view .repeat-next-buttons {

}
.host-view .section-buttons {
  display: flex;
  list-style-type: none;
}

.host-view .section-buttons li {
  min-width: 25px;
  margin: 10px;
  text-align: center;
  border: 1px solid red;
}

/***************
////COMPONENT///
***************/
.lyrics {

}
.lyrics .current {

}
.lyrics .next {

}
.lyrics {

}

/****************
//////HOME/////
****************/
.home-container {
  height: 100vh;
  width: 100vw;
  background-color: red;
}





