body {

}

a {
  color: #00B7FF;
}



/******************************
/////////// H O S T ///////////
******************************/
.host-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: red;*/
}
.host-view .current {
  white-space: pre-line;
}
.host-view .next {
  white-space: pre-line;
}
.host-view .repeat-next-buttons {

}
.host-view .section-buttons {
  display: flex;
  list-style-type: none;
}

.host-view .section-buttons li {
  min-width: 25px;
  margin: 10px;
  text-align: center;
  border: 1px solid red;
}

.host-view .lyrics-container {
  height: 100vh;
  width: 20%;
  /*background-color: blue;*/
  display: flex;
  justify-content: center;
}

.list-container {
  display: flex;
  width: 100%;

}



/******************************
////// C O M P O N E N T //////
******************************/

.lyrics {
  font-size: 100%;
  white-space: pre-line;
}

.lyrics .current {

}
.lyrics .next {

}

.btn {
  outline: none !important;
  margin-right: -5px !important;
  border-radius: 0 !important;
}



/******************************
/////////// H O M E ///////////
******************************/
.home-container {
  height: 100vh;
  width: 100vw;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}

.home-header {
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.home-content {
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.home-button-container {
  display: flex;
  justify-content: center;
}

.join-host-show {
  display: flex;
  justify-content: center;
}

.hidden-input {
  outline: none;
}

.create-code {
  margin-left: 25px;
}

.home-content-links {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin: 10px;
  padding: 10px 100px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.home-content-links:hover {
  background-color: #fff;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}



/******************************
///////// S E T U P /////////
******************************/

/*.create-container {
  display: flex;
  max-width: 100vw;
}

.search {
  width: 50%;
  height: 100vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 80%;
  display: flex;
  margin-top: 10px;

}

.songlist {
  width: 50%;
  height: 100vh;
  border: 1px solid black;
}*/

.search-form {
  margin-bottom: 20px;
}

.search-list {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  background-color: ;
}

.songs {
  display: flex;
  border: 1px solid #eee;
  cursor: pointer;
}

.songs:hover {
  background-color: #F1EBEA;
}

.song-artist {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.albumcover {

}

.song-title {

}

.artist {

}





